Repository Ryubing/Ryujinx, pull requests merged in 2024-12, with the labels that each got.

#339 ARMeilleure: Allow TPIDR2_EL0 to be set properly
  src/ARMeilleure/Instructions/InstEmitSystem.cs
Labels: cpu

#340 Add the Cabinet Applet
  src/Ryujinx.HLE/HOS/Applets/AppletManager.cs
  src/Ryujinx.HLE/HOS/Applets/Cabinet/CabinetApplet.cs
  src/Ryujinx.HLE/HOS/Services/Nfc/Nfp/VirtualAmiibo.cs
  src/Ryujinx.HLE/UI/IHostUIHandler.cs
  src/Ryujinx.Headless.SDL2/WindowBase.cs
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/fr_FR.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/ko_KR.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/pt_BR.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/th_TH.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
  src/Ryujinx/UI/Applet/AvaHostUIHandler.cs
Labels: gui, horizon

#352 Update Korean translation
  src/Ryujinx/Assets/Locales/ko_KR.json
Labels: gui

#353 Stub Ldn.Lp2p.ISfService: 776 (DestroyGroup)
  src/Ryujinx.HLE/HOS/Services/Ldn/Lp2p/ISfService.cs
Labels: horizon, ldn

#332 Update Spanish translation
  src/Ryujinx/Assets/Locales/es_ES.json
Labels: gui

#343 Add Firmware keyword in log if it is indeed firmware
  src/Ryujinx.HLE/Loaders/Processes/Extensions/NcaExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoader.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessResult.cs
  src/Ryujinx.HLE/Switch.cs
  src/Ryujinx/AppHost.cs
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml.cs
Labels: horizon

#342 Fix Windows Terminal hide/show functions
  src/Ryujinx.UI.Common/Helper/ConsoleHelper.cs
Labels: gui

#363 infra: Add a table to the releases
  .github/workflows/canary.yml
  .github/workflows/release.yml
Labels: infra

#371 Update Korean update...
  src/Ryujinx/Assets/Locales/ko_KR.json
Labels: gui

#338 Create no_NO.json - Norwegian Translation
  src/Ryujinx/Assets/Locales/no_NO.json
Labels: gui

#381 New macOS icon
  distribution/macos/Ryujinx.icns
  distribution/misc/macOS.svg
Labels: infra

#383 UI: Add faq, setup and multiplayer guides to the Help dropdown
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/fr_FR.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/ko_KR.json
  src/Ryujinx/Assets/Locales/no_NO.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/pt_BR.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/th_TH.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml.cs
Labels: gui

#348 Adds the ability to read and write to amiibo bin files
  src/Ryujinx.HLE/HOS/Horizon.cs
  src/Ryujinx.HLE/HOS/Services/Nfc/AmiiboDecryption/AmiiboBinReader.cs
  src/Ryujinx.HLE/HOS/Services/Nfc/AmiiboDecryption/AmiiboDecrypter.cs
  src/Ryujinx.HLE/HOS/Services/Nfc/AmiiboDecryption/AmiiboDump.cs
  src/Ryujinx.HLE/HOS/Services/Nfc/AmiiboDecryption/AmiiboMasterKey.cs
  src/Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/INfp.cs
  src/Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/VirtualAmiiboFile.cs
  src/Ryujinx.HLE/HOS/Services/Nfc/Nfp/VirtualAmiibo.cs
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/fr_FR.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/ko_KR.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/pt_BR.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/th_TH.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml.cs
Labels: gui, horizon

#391 Unified locales
  Directory.Packages.props
  Ryujinx.sln
  src/Ryujinx.BuildValidationTasks/LocaleValidationTask.cs
  src/Ryujinx.BuildValidationTasks/Ryujinx.BuildValidationTasks.csproj
  src/Ryujinx.UI.LocaleGenerator/LocaleGenerator.cs
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/fr_FR.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/ko_KR.json
  src/Ryujinx/Assets/Locales/no_NO.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/pt_BR.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/th_TH.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
  src/Ryujinx/Assets/locales.json
  src/Ryujinx/Common/LocaleManager.cs
  src/Ryujinx/Ryujinx.csproj
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml.cs
Labels: gui

#412 Added Support for 532-Byte Amiibo BIN Files
  src/Ryujinx.HLE/HOS/Services/Nfc/AmiiboDecryption/AmiiboBinReader.cs
Labels: horizon

#296 Resolve Image Usage Validation Error
  src/Ryujinx.Graphics.Vulkan/FormatCapabilities.cs
  src/Ryujinx.Graphics.Vulkan/PipelineConverter.cs
  src/Ryujinx.Graphics.Vulkan/TextureStorage.cs
  src/Ryujinx.Graphics.Vulkan/TextureView.cs
Labels: gpu, graphics-backend:vulkan

#420 UI: New light theme colors
  src/Ryujinx/Assets/Styles/Themes.xaml
Labels: gui

#422 Korean translation update
  src/Ryujinx/Assets/locales.json
Labels: gui

#424 Add missing "yield return"
  src/Ryujinx.Cpu/AppleHv/HvMemoryManager.cs
  src/Ryujinx.Cpu/Jit/MemoryManager.cs
  src/Ryujinx.Cpu/Jit/MemoryManagerHostTracked.cs
  src/Ryujinx.Cpu/LightningJit/CodeGen/Arm64/StackWalker.cs
  src/Ryujinx.Graphics.Vulkan/BufferMirrorRangeList.cs
  src/Ryujinx.HLE/HOS/ModLoader.cs
  src/Ryujinx.Memory/AddressSpaceManager.cs
Labels: cpu, gpu, graphics-backend:vulkan, horizon

#427 Avoid zero-length array allocations
  src/Ryujinx.HLE/HOS/Horizon.cs
  src/Ryujinx.HLE/HOS/Services/Nfc/Nfp/VirtualAmiibo.cs
Labels: horizon

#432 UI: Option to resize window to 1440p, 2160p
  src/Ryujinx/Assets/locales.json
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml
Labels: gui

#415 UI: Added missing french locales/Translated french locales
  src/Ryujinx/Assets/locales.json
Labels: gui

#418 Update Norwegian Translation
  src/Ryujinx/Assets/locales.json
Labels: gui

#447 Add more games to metal list
  src/Ryujinx/UI/Renderer/RendererHost.axaml.cs
Labels: gui

#446 Updated Swedish translation in new format
  src/Ryujinx/Assets/locales.json
Labels: gui

#450 ru_Ru locale update
  src/Ryujinx/Assets/locales.json
Labels: gui

#440 Updated zh-CN translation
  src/Ryujinx/Assets/locales.json
Labels: gui

#448 Headless in Avalonia v2
  .github/workflows/build.yml
  .github/workflows/canary.yml
  .github/workflows/nightly_pr_comment.yml
  .github/workflows/release.yml
  Ryujinx.sln
  src/Ryujinx.Common/Logging/Logger.cs
  src/Ryujinx.Common/Logging/Targets/AsyncLogTargetWrapper.cs
  src/Ryujinx.HLE/HOS/Services/Account/Acc/AccountSaveDataManager.cs
  src/Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  src/Ryujinx.Headless.SDL2/Ryujinx.bmp
  src/Ryujinx.UI.Common/Configuration/System/Language.cs
  src/Ryujinx.UI.Common/Helper/FileAssociationHelper.cs
  src/Ryujinx/Headless/HeadlessDynamicTextInputHandler.cs
  src/Ryujinx/Headless/HeadlessHostUiTheme.cs
  src/Ryujinx/Headless/HeadlessRyujinx.Init.cs
  src/Ryujinx/Headless/HeadlessRyujinx.cs
  src/Ryujinx/Headless/Metal/MetalWindow.cs
  src/Ryujinx/Headless/OpenGL/OpenGLWindow.cs
  src/Ryujinx/Headless/Options.cs
  src/Ryujinx/Headless/Ryujinx.bmp
  src/Ryujinx/Headless/StatusUpdatedEventArgs.cs
  src/Ryujinx/Headless/Vulkan/VulkanWindow.cs
  src/Ryujinx/Headless/WindowBase.cs
  src/Ryujinx/Program.cs
  src/Ryujinx/Ryujinx.csproj
Labels: gui, horizon, infra

#469 Shader translation delay hack
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/ParallelDiskCacheLoader.cs
Labels: gpu

#460 Skip processing application for LDN if it does not have control holder
  src/Ryujinx/UI/Windows/MainWindow.axaml.cs
Labels: gui

#428 Prefer 'Convert.ToHexString' over call chains based on 'BitConverter.ToString'
  src/Ryujinx.HLE/HOS/Services/Nfc/AmiiboDecryption/AmiiboBinReader.cs
Labels: horizon

#444 Validation Project v2
  Ryujinx.sln
  src/Ryujinx.BuildValidationTasks/LocaleValidationTask.cs
  src/Ryujinx.BuildValidationTasks/LocalesValidationTask.cs
  src/Ryujinx.BuildValidationTasks/Program.cs
  src/Ryujinx.BuildValidationTasks/Ryujinx.BuildValidationTasks.csproj
  src/Ryujinx.BuildValidationTasks/ValidationTask.cs
  src/Ryujinx/Assets/locales.json
  src/Ryujinx/Ryujinx.csproj
Labels: gui, infra

#471 Validation Project v2
  Ryujinx.sln
  src/Ryujinx.BuildValidationTasks/LocaleValidationTask.cs
  src/Ryujinx.BuildValidationTasks/LocalesValidationTask.cs
  src/Ryujinx.BuildValidationTasks/Program.cs
  src/Ryujinx.BuildValidationTasks/Ryujinx.BuildValidationTasks.csproj
  src/Ryujinx.BuildValidationTasks/ValidationTask.cs
  src/Ryujinx/Assets/locales.json
  src/Ryujinx/Ryujinx.csproj
Labels: gui, infra

#465 Korean translation update
  src/Ryujinx/Assets/locales.json
Labels: gui
