Repository Ryubing/Ryujinx, pull requests merged in 2024-10, with the labels that each got.

#12 AutoLoad DLC/updates
  src/Ryujinx.UI.Common/App/ApplicationAddedEventArgs.cs
  src/Ryujinx.UI.Common/App/ApplicationLibrary.cs
  src/Ryujinx.UI.Common/Configuration/ConfigurationFileFormat.cs
  src/Ryujinx.UI.Common/Configuration/ConfigurationState.cs
  src/Ryujinx.UI.Common/Helper/DownloadableContentsHelper.cs
  src/Ryujinx.UI.Common/Helper/TitleUpdatesHelper.cs
  src/Ryujinx.UI.Common/Models/DownloadableContentModel.cs
  src/Ryujinx.UI.Common/Models/TitleUpdateModel.cs
  src/Ryujinx.UI.Common/Ryujinx.UI.Common.csproj
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/UI/Controls/ApplicationContextMenu.axaml.cs
  src/Ryujinx/UI/Helpers/DownloadableContentLabelConverter.cs
  src/Ryujinx/UI/Helpers/Glyph.cs
  src/Ryujinx/UI/Helpers/GlyphValueConverter.cs
  src/Ryujinx/UI/Helpers/TitleUpdateLabelConverter.cs
  src/Ryujinx/UI/Models/DownloadableContentModel.cs
  src/Ryujinx/UI/Models/TitleUpdateModel.cs
  src/Ryujinx/UI/ViewModels/DownloadableContentManagerViewModel.cs
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx/UI/ViewModels/TitleUpdateViewModel.cs
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml
  src/Ryujinx/UI/Views/Settings/SettingsUIView.axaml
  src/Ryujinx/UI/Views/Settings/SettingsUIView.axaml.cs
  src/Ryujinx/UI/Windows/DownloadableContentManagerWindow.axaml
  src/Ryujinx/UI/Windows/DownloadableContentManagerWindow.axaml.cs
  src/Ryujinx/UI/Windows/MainWindow.axaml.cs
  src/Ryujinx/UI/Windows/SettingsWindow.axaml.cs
  src/Ryujinx/UI/Windows/TitleUpdateWindow.axaml
  src/Ryujinx/UI/Windows/TitleUpdateWindow.axaml.cs
Labels: gui

#29 Fix some input controller issues (mapping sticks and duplicate controller names)
  src/Ryujinx.Input.SDL2/SDL2Gamepad.cs
  src/Ryujinx/UI/ViewModels/Input/InputViewModel.cs
Labels: gui

#30 Fix repeated dialog popup notifying of new updates when there aren't any if you have bundled updates with external updates
  src/Ryujinx.UI.Common/App/ApplicationLibrary.cs
Labels: gui

#37 Ava UI : Set the Default Controller to Pro Controller.
  src/Ryujinx.UI.Common/Configuration/ConfigurationState.cs
Labels: gui

#51 Update Simplified Chinese Translation
  src/Ryujinx/Assets/Locales/zh_CN.json
Labels: gui

#40 Added option to ignore applet (gamepad connection window will not appear when it is disconnected)
  src/Ryujinx.UI.Common/Configuration/ConfigurationFileFormat.cs
  src/Ryujinx.UI.Common/Configuration/ConfigurationState.cs
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/fr_FR.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/ko_KR.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/pt_BR.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/th_TH.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
  src/Ryujinx/UI/Applet/AvaHostUIHandler.cs
  src/Ryujinx/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx/UI/Views/Settings/SettingsSystemView.axaml
  src/Ryujinx/UI/Views/Settings/SettingsUIView.axaml
Labels: gui

#54 th_TH : Added missing strings, translation fixed and grammar fixed.
  src/Ryujinx/Assets/Locales/th_TH.json
Labels: gui

#59 Add descriptions for "ignoring applet" translated into other languages
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/fr_FR.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/ko_KR.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/pt_BR.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
Labels: gui

#28 Appimage builds
  .github/workflows/build.yml
  .github/workflows/release.yml
  .gitignore
  distribution/linux/appimage/AppRun
  distribution/linux/appimage/build-appimage.sh
Labels: infra

#60 Added Thai language description of the setting
  src/Ryujinx.Input.SDL2/SDL2GamepadDriver.cs
  src/Ryujinx/Assets/Locales/th_TH.json
Labels: gui

#88 Update fr_FR.json
  src/Ryujinx/Assets/Locales/fr_FR.json
Labels: gui

#87 Added missing french translations
  src/Ryujinx/Assets/Locales/fr_FR.json
Labels: gui

#103 Update logo
  distribution/misc/Logo.svg
  src/Ryujinx.UI.Common/Resources/Logo_Ryujinx.png
Labels: gui, infra

#101 Add option to show the title bar
  src/Ryujinx.UI.Common/Configuration/ConfigurationFileFormat.cs
  src/Ryujinx.UI.Common/Configuration/ConfigurationState.cs
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/fr_FR.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/ko_KR.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/pt_BR.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/th_TH.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
  src/Ryujinx/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml.cs
  src/Ryujinx/UI/Views/Settings/SettingsUIView.axaml
  src/Ryujinx/UI/Views/Settings/SettingsUIView.axaml.cs
  src/Ryujinx/UI/Windows/MainWindow.axaml.cs
Labels: gui

#96 Italian translation
  src/Ryujinx/Assets/Locales/it_IT.json
Labels: gui

#97 Updating Brazilian Portuguese translation.
  src/Ryujinx/Assets/Locales/pt_BR.json
Labels: gui

#92 French: Fixed faulty colon formatting and wrong translations
  src/Ryujinx/Assets/Locales/fr_FR.json
Labels: gui
