Repository Ryubing/Ryujinx, pull requests merged in 2024-11, with the labels that each got.

#135 UI: Set UseFloatingWatermark to false when the watermark is empty
  src/Ryujinx/UI/Applet/SwkbdAppletDialog.axaml.cs
Labels: gui

#36 Textures : Increase the amount of VRAM Cache available for Textures based on selected DRAM.
  src/Ryujinx.Graphics.Gpu/GpuContext.cs
  src/Ryujinx.Graphics.Gpu/Image/AutoDeleteCache.cs
  src/Ryujinx.Graphics.Gpu/Image/TextureCache.cs
  src/Ryujinx.Graphics.Gpu/Memory/MemoryManager.cs
  src/Ryujinx.HLE/HOS/Services/Nv/NvDrvServices/NvHostAsGpu/NvHostAsGpuDeviceFile.cs
Labels: gpu, horizon

#139 Update MacOS distribution .icns
  distribution/macos/Ryujinx.icns
Labels: infra

#163 Add DebugMouse HID definition
  src/Ryujinx.HLE/HOS/Services/Hid/Hid.cs
  src/Ryujinx.HLE/HOS/Services/Hid/HidDevices/DebugMouseDevice.cs
  src/Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
  src/Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/DebugMouse/DebugMouseAttribute.cs
  src/Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/DebugMouse/DebugMouseButton.cs
  src/Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/DebugMouse/DebugMouseState.cs
  src/Ryujinx.HLE/HOS/Services/Hid/Types/SharedMemory/SharedMemory.cs
Labels: horizon

#164 fix index out of range check in GetCoefficientAtIndex
  src/Ryujinx.Audio/Renderer/Dsp/AdpcmHelper.cs
Labels: audio

#183 Fix minor grammatical issues.
  src/Ryujinx/Assets/Locales/en_US.json
Labels: gui

#150 Fix fullscreen when using 'Show Title Bar'
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml
Labels: gui

#105 Add ability to trim and untrim XCI files from the application context menu AND in Bulk
  src/Ryujinx.Common/Logging/LogClass.cs
  src/Ryujinx.Common/Logging/XCIFileTrimmerLog.cs
  src/Ryujinx.Common/Utilities/XCIFileTrimmer.cs
  src/Ryujinx.HLE.Generators/IpcServiceGenerator.cs
  src/Ryujinx.UI.Common/Models/XCITrimmerFileModel.cs
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Assets/Styles/Styles.xaml
  src/Ryujinx/Common/XCIFileTrimmerMainWindowLog.cs
  src/Ryujinx/Common/XCIFileTrimmerWindowLog.cs
  src/Ryujinx/UI/Controls/ApplicationContextMenu.axaml
  src/Ryujinx/UI/Controls/ApplicationContextMenu.axaml.cs
  src/Ryujinx/UI/Helpers/AvaloniaListExtensions.cs
  src/Ryujinx/UI/Helpers/XCITrimmerFileSpaceSavingsConverter.cs
  src/Ryujinx/UI/Helpers/XCITrimmerFileStatusConverter.cs
  src/Ryujinx/UI/Helpers/XCITrimmerFileStatusDetailConverter.cs
  src/Ryujinx/UI/Helpers/XCITrimmerOperationOutcomeHelper.cs
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx/UI/ViewModels/XCITrimmerViewModel.cs
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml.cs
  src/Ryujinx/UI/Views/Main/MainStatusBarView.axaml
  src/Ryujinx/UI/Windows/XCITrimmerWindow.axaml
  src/Ryujinx/UI/Windows/XCITrimmerWindow.axaml.cs
Labels: gui

#160 Add many missing locales to all languages
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/fr_FR.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/ko_KR.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/th_TH.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
Labels: gui

#188 fix: remove --deep
  distribution/macos/create_app_bundle.sh
  distribution/macos/create_macos_build_ava.sh
  distribution/macos/create_macos_build_headless.sh
  src/Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  src/Ryujinx/Ryujinx.csproj
Labels: gui, infra

#98 Update and organize Discord TID list
  src/Ryujinx.UI.Common/DiscordIntegrationModule.cs
Labels: gui

#216 Add Dummy Applet to Replace NotImplementedException
  src/Ryujinx.HLE/HOS/Applets/AppletManager.cs
  src/Ryujinx.HLE/HOS/Applets/Dummy/DummyApplet.cs
Labels: horizon

#73 Appimage Round 2
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: infra

#217 Adds the ability to read a amiibo's nickname from the VirtualAmiiboFile
  src/Ryujinx.HLE/HOS/Services/Nfc/Nfp/NfpManager/Types/VirtualAmiiboFile.cs
  src/Ryujinx.HLE/HOS/Services/Nfc/Nfp/VirtualAmiibo.cs
Labels: horizon

#122 Fixed a bug where, when switching players, it would show old config
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Program.cs
  src/Ryujinx/UI/Helpers/ContentDialogHelper.cs
  src/Ryujinx/UI/ViewModels/Input/InputViewModel.cs
  src/Ryujinx/UI/Views/Input/ControllerInputView.axaml.cs
  src/Ryujinx/UI/Views/Input/InputView.axaml
  src/Ryujinx/UI/Views/Input/InputView.axaml.cs
Labels: gui

#228 Fix issue with Logger.Trace
  src/Ryujinx.UI.Common/Configuration/LoggerModule.cs
Labels: gui

#235 Fix divide by zero when recovering from missed draw (Vulkan), authored by EmulationEnjoyer
  src/Ryujinx.Graphics.Vulkan/VertexBufferState.cs
Labels: gpu, graphics-backend:vulkan

#237 Implement IAllSystemAppletProxiesService: 350 (OpenSystemApplicationProxy)
  src/Ryujinx.HLE/HOS/Services/Am/AppletAE/IAllSystemAppletProxiesService.cs
Labels: horizon

#226 Updtate Korean translation!
  src/Ryujinx/Assets/Locales/ko_KR.json
Labels: gui

#236 Add mention of canary to README.md
  README.md
Labels: documentation

#247 Fix window sizing when "Show Title Bar" is enabled
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml.cs
  src/Ryujinx/UI/Windows/MainWindow.axaml.cs
Labels: gui

#243 Updated IT translation file
  src/Ryujinx/Assets/Locales/it_IT.json
Labels: gui

#249 Fixed some broken urls
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/fr_FR.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/ko_KR.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/pt_BR.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/th_TH.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
Labels: gui

#242 i18n: es_ES: Added missing translations and minor fixes
  src/Ryujinx/Assets/Locales/es_ES.json
Labels: gui

#260 Fix a couple dead links and spotty wording in docs
  COMPILING.md
  CONTRIBUTING.md
  docs/workflow/pr-guide.md
Labels: documentation

#273 Add `XCITrimmerTrim` and `XCITrimmerUntrim` Locales
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/en_US.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/ko_KR.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/pt_BR.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/th_TH.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
  src/Ryujinx/UI/Windows/XCITrimmerWindow.axaml
Labels: gui

#259 Update Chinese locale missing line
  src/Ryujinx/Assets/Locales/zh_CN.json
Labels: gui

#280 ARMeilleure: Implement TPIDR2_EL0
  src/ARMeilleure/Instructions/InstEmitSystem.cs
  src/ARMeilleure/State/NativeContext.cs
Labels: cpu

#282 Add `documentation` and `ldn` labels to `labeler.yml`
  .github/labeler.yml
Labels: infra

#285 Change headless to nogui in the release artifacts
  .github/workflows/build.yml
  .github/workflows/canary.yml
  .github/workflows/nightly_pr_comment.yml
  .github/workflows/release.yml
  distribution/macos/create_macos_build_headless.sh
Labels: infra

#258 Add more mentions of canary
  .github/workflows/canary.yml
  .github/workflows/release.yml
  distribution/macos/create_macos_build_ava.sh
  distribution/macos/create_macos_build_headless.sh
  src/Ryujinx.Common/Logging/Targets/FileLogTarget.cs
  src/Ryujinx/UI/ViewModels/AboutWindowViewModel.cs
Labels: gui, infra

#281 Add all the missing locales from XCI Trimmer and LDN merge
  src/Ryujinx/Assets/Locales/ar_SA.json
  src/Ryujinx/Assets/Locales/de_DE.json
  src/Ryujinx/Assets/Locales/el_GR.json
  src/Ryujinx/Assets/Locales/es_ES.json
  src/Ryujinx/Assets/Locales/fr_FR.json
  src/Ryujinx/Assets/Locales/he_IL.json
  src/Ryujinx/Assets/Locales/it_IT.json
  src/Ryujinx/Assets/Locales/ja_JP.json
  src/Ryujinx/Assets/Locales/pl_PL.json
  src/Ryujinx/Assets/Locales/pt_BR.json
  src/Ryujinx/Assets/Locales/ru_RU.json
  src/Ryujinx/Assets/Locales/th_TH.json
  src/Ryujinx/Assets/Locales/tr_TR.json
  src/Ryujinx/Assets/Locales/uk_UA.json
  src/Ryujinx/Assets/Locales/zh_CN.json
  src/Ryujinx/Assets/Locales/zh_TW.json
Labels: gui

#250 Jit sparse continuation
  src/ARMeilleure/Common/AddressTable.cs
  src/ARMeilleure/Common/AddressTableLevel.cs
  src/ARMeilleure/Common/AddressTablePresets.cs
  src/ARMeilleure/Common/Allocator.cs
  src/ARMeilleure/Common/IAddressTable.cs
  src/ARMeilleure/Common/NativeAllocator.cs
  src/ARMeilleure/Instructions/InstEmitFlowHelper.cs
  src/ARMeilleure/Signal/NativeSignalHandlerGenerator.cs
  src/ARMeilleure/Translation/ArmEmitterContext.cs
  src/ARMeilleure/Translation/PTC/Ptc.cs
  src/ARMeilleure/Translation/Translator.cs
  src/ARMeilleure/Translation/TranslatorStubs.cs
  src/Ryujinx.Cpu/AddressTable.cs
  src/Ryujinx.Cpu/AppleHv/HvCpuContext.cs
  src/Ryujinx.Cpu/ICpuContext.cs
  src/Ryujinx.Cpu/Jit/JitCpuContext.cs
  src/Ryujinx.Cpu/LightningJit/Arm32/Target/Arm64/InstEmitFlow.cs
  src/Ryujinx.Cpu/LightningJit/Arm64/Target/Arm64/InstEmitSystem.cs
  src/Ryujinx.Cpu/LightningJit/LightningJitCpuContext.cs
  src/Ryujinx.Cpu/LightningJit/Translator.cs
  src/Ryujinx.Cpu/LightningJit/TranslatorStubs.cs
  src/Ryujinx.HLE/HOS/ArmProcessContext.cs
  src/Ryujinx.HLE/HOS/ArmProcessContextFactory.cs
  src/Ryujinx.Memory/SparseMemoryBlock.cs
  src/Ryujinx.Tests/Cpu/CpuContext.cs
  src/Ryujinx.Tests/Cpu/EnvironmentTests.cs
  src/Ryujinx.Tests/Memory/PartialUnmaps.cs
Labels: cpu, gui, horizon

#309 Fix window decorations being too wide
  src/Ryujinx/Assets/Styles/Styles.xaml
Labels: gui

#313 Update Korean translation
  src/Ryujinx/Assets/Locales/ko_KR.json
Labels: gui

#95 Remove 'Enter' hotkey in settings menu
  src/Ryujinx/UI/Windows/SettingsWindow.axaml
Labels: gui

#302 ignore macos attribute files
  .gitignore
  src/ARMeilleure/ARMeilleure.csproj
  src/Ryujinx.Audio.Backends.OpenAL/Ryujinx.Audio.Backends.OpenAL.csproj
  src/Ryujinx.Audio.Backends.SDL2/Ryujinx.Audio.Backends.SDL2.csproj
  src/Ryujinx.Audio.Backends.SoundIo/Ryujinx.Audio.Backends.SoundIo.csproj
  src/Ryujinx.Audio/Ryujinx.Audio.csproj
  src/Ryujinx.Common/Ryujinx.Common.csproj
  src/Ryujinx.Cpu/Ryujinx.Cpu.csproj
  src/Ryujinx.Graphics.Device/Ryujinx.Graphics.Device.csproj
  src/Ryujinx.Graphics.GAL/Ryujinx.Graphics.GAL.csproj
  src/Ryujinx.Graphics.Gpu/Ryujinx.Graphics.Gpu.csproj
  src/Ryujinx.Graphics.Host1x/Ryujinx.Graphics.Host1x.csproj
  src/Ryujinx.Graphics.Nvdec.FFmpeg/Ryujinx.Graphics.Nvdec.FFmpeg.csproj
  src/Ryujinx.Graphics.Nvdec.Vp9/Ryujinx.Graphics.Nvdec.Vp9.csproj
  src/Ryujinx.Graphics.Nvdec/Ryujinx.Graphics.Nvdec.csproj
  src/Ryujinx.Graphics.OpenGL/Ryujinx.Graphics.OpenGL.csproj
  src/Ryujinx.Graphics.Shader/Ryujinx.Graphics.Shader.csproj
  src/Ryujinx.Graphics.Texture/Ryujinx.Graphics.Texture.csproj
  src/Ryujinx.Graphics.Vic/Ryujinx.Graphics.Vic.csproj
  src/Ryujinx.Graphics.Video/Ryujinx.Graphics.Video.csproj
  src/Ryujinx.Graphics.Vulkan/Ryujinx.Graphics.Vulkan.csproj
  src/Ryujinx.HLE.Generators/Ryujinx.HLE.Generators.csproj
  src/Ryujinx.HLE/Ryujinx.HLE.csproj
  src/Ryujinx.Headless.SDL2/Ryujinx.Headless.SDL2.csproj
  src/Ryujinx.Horizon.Common/Ryujinx.Horizon.Common.csproj
  src/Ryujinx.Horizon.Generators/Ryujinx.Horizon.Generators.csproj
  src/Ryujinx.Horizon.Kernel.Generators/Ryujinx.Horizon.Kernel.Generators.csproj
  src/Ryujinx.Horizon/Ryujinx.Horizon.csproj
  src/Ryujinx.Input.SDL2/Ryujinx.Input.SDL2.csproj
  src/Ryujinx.Input/Ryujinx.Input.csproj
  src/Ryujinx.Memory/Ryujinx.Memory.csproj
  src/Ryujinx.SDL2.Common/Ryujinx.SDL2.Common.csproj
  src/Ryujinx.ShaderTools/Ryujinx.ShaderTools.csproj
  src/Ryujinx.Tests.Memory/Ryujinx.Tests.Memory.csproj
  src/Ryujinx.Tests.Unicorn/Ryujinx.Tests.Unicorn.csproj
  src/Ryujinx.Tests/Ryujinx.Tests.csproj
  src/Ryujinx.UI.Common/Ryujinx.UI.Common.csproj
  src/Ryujinx.UI.LocaleGenerator/Ryujinx.UI.LocaleGenerator.csproj
  src/Ryujinx/Ryujinx.csproj
  src/Spv.Generator/Spv.Generator.csproj
Labels: audio, cpu, gpu, graphics-backend:opengl, graphics-backend:vulkan, gui, horizon

#257 Fix logic surrounding PushDescriptors in Vulkan
  src/Ryujinx.Graphics.Vulkan/ShaderCollection.cs
Labels: gpu, graphics-backend:vulkan

#329 Update Korean translation
  src/Ryujinx/Assets/Locales/ko_KR.json
Labels: gui

#319 JIT Sparse SSBU fix
  src/ARMeilleure/Common/AddressTableLevel.cs
  src/ARMeilleure/Translation/PTC/Ptc.cs
  src/Ryujinx.Cpu/AddressTable.cs
Labels: cpu

#330 Fix for missing text
  distribution/linux/Ryujinx.sh
Labels: infra

#331 Implement and stub services required for Mario Kart Live: Home Circuit
  src/Ryujinx.HLE/HOS/Services/Ldn/Lp2p/IServiceCreator.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Lp2p/ISfService.cs
  src/Ryujinx.HLE/HOS/Services/Ldn/Lp2p/ISfServiceMonitor.cs
Labels: horizon, ldn
