Repository Ryubing/Ryujinx, pull requests merged in 2025-02, with the labels that each got.

#614 PlayReportAnalyzer: Added Games
  src/Ryujinx/DiscordIntegrationModule.cs
Labels: gui

#624 Update Korean translation
  src/Ryujinx/Assets/locales.json
Labels: gui

#630 PlayReportAnalyzer: Added Pokemon Scarlet and Violet
  src/Ryujinx/Utilities/PlayReport.cs
Labels: gui

#618 Updated the compat list.
  docs/compatibility.csv
Labels: documentation

#638 Initial Implementation of SSBU PlayReport usage!
  src/Ryujinx/Utilities/PlayReport/PlayReports.Formatters.cs
  src/Ryujinx/Utilities/PlayReport/PlayReports.cs
Labels: gui

#642 Update Zh-CN Simplified Chinese
  src/Ryujinx/Assets/locales.json
Labels: gui

#615 Add Jit Cache Regions!
  src/ARMeilleure/Memory/ReservedRegion.cs
  src/ARMeilleure/Translation/Cache/JitCache.cs
  src/Ryujinx.Cpu/LightningJit/Cache/JitCache.cs
  src/Ryujinx.Cpu/LightningJit/Cache/NoWxCache.cs
  src/Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/WinSockHelper.cs
Labels: cpu, horizon

#649 compat file upd
  docs/compatibility.csv
Labels: documentation

#650 Update ZH-CN traslation
  src/Ryujinx/Assets/locales.json
Labels: gui

#633 Update Brazilian Translation PT-BR
  src/Ryujinx/Assets/locales.json
Labels: gui

#626 Updated german translation
  src/Ryujinx/Assets/locales.json
Labels: gui

#594 Updated Swedish translation
  src/Ryujinx/Assets/locales.json
Labels: gui

#664 Man...
  src/ARMeilleure/Translation/Cache/JitCache.cs
  src/Ryujinx.Cpu/LightningJit/Cache/JitCache.cs
  src/Ryujinx/Assets/locales.json
Labels: cpu, gui

#661 Add logging in socket implementation
  src/Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
  src/Ryujinx.HLE/HOS/Services/Sockets/Bsd/Impl/ManagedSocket.cs
  src/Ryujinx.HLE/HOS/Services/Sockets/Bsd/Proxy/SocketHelpers.cs
Labels: horizon

#662 Gracefully handle errors in socket creation
  src/Ryujinx.HLE/HOS/Services/Sockets/Bsd/IClient.cs
Labels: horizon

#666 Update PT-BR Big Translation & Add DKC Returns HD to compatibility list
  docs/compatibility.csv
  src/Ryujinx/Assets/locales.json
Labels: gui

#673 Add Super Mario Party Jamboree to compatibility list
  docs/compatibility.csv
Labels: documentation

#688 Small PT-BR update
  src/Ryujinx/Assets/locales.json
Labels: gui

#695 Update Russian Translation
  src/Ryujinx/Assets/locales.json
Labels: gui

#667 Add Melatonin to compatibility list
  docs/compatibility.csv
Labels: documentation

#678 Ukrainian localization changes (1.2.82)
  src/Ryujinx/Assets/locales.json
Labels: gui

#703 Updated Zh-CN Simplified Chinese.
  src/Ryujinx/Assets/locales.json
Labels: gui

#709 Jit regions fix
  src/ARMeilleure/Translation/Cache/JitCache.cs
  src/ARMeilleure/Translation/Cache/JitUnwindWindows.cs
  src/Ryujinx/UI/Controls/ApplicationContextMenu.axaml.cs
Labels: cpu, gui

#707 SSBU Rich Presence - Stage Editing
  src/Ryujinx/Utilities/PlayReport/PlayReports.Formatters.cs
  src/Ryujinx/Utilities/PlayReport/PlayReports.cs
Labels: gui

#723 PlayReportAnalyzer: Updated Pokemon Scarlet and Violet
  src/Ryujinx/Utilities/PlayReport/PlayReports.Formatters.cs
  src/Ryujinx/Utilities/PlayReport/PlayReports.cs
Labels: gui

#632 Custom configuration for each game
  src/Ryujinx/AppHost.cs
  src/Ryujinx/Assets/Styles/Styles.xaml
  src/Ryujinx/Assets/Styles/Themes.xaml
  src/Ryujinx/Assets/locales.json
  src/Ryujinx/Common/LocaleManager.cs
  src/Ryujinx/Program.cs
  src/Ryujinx/Rebooter.cs
  src/Ryujinx/UI/Controls/ApplicationContextMenu.axaml
  src/Ryujinx/UI/Controls/ApplicationContextMenu.axaml.cs
  src/Ryujinx/UI/Controls/ApplicationGridView.axaml
  src/Ryujinx/UI/Controls/ApplicationListView.axaml
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx/UI/ViewModels/SettingsViewModel.cs
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml.cs
  src/Ryujinx/UI/Views/Settings/SettingsSystemView.axaml
  src/Ryujinx/UI/Views/Settings/SettingsUIView.axaml
  src/Ryujinx/UI/Windows/GameSpecificSettingsWindow.axaml
  src/Ryujinx/UI/Windows/GameSpecificSettingsWindow.axaml.cs
  src/Ryujinx/UI/Windows/MainWindow.axaml.cs
  src/Ryujinx/Utilities/AppLibrary/ApplicationData.cs
  src/Ryujinx/Utilities/AppLibrary/ApplicationLibrary.cs
  src/Ryujinx/Utilities/CommandLineState.cs
  src/Ryujinx/Utilities/Configuration/ConfigurationState.Migration.cs
  src/Ryujinx/Utilities/ShortcutHelper.cs
Labels: gui

#720 Updated Swedish in locales.json
  src/Ryujinx/Assets/locales.json
Labels: gui

#732 Update: Russian Language (Some missing strings)
  src/Ryujinx/Assets/locales.json
Labels: gui
