Repository Ryubing/Ryujinx, pull requests merged in 2025-01, with the labels that each got.

#461 add a keyboard shortcut for opening amiibo .bin files
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml
  src/Ryujinx/UI/Windows/MainWindow.axaml
Labels: gui

#475 Update to no_NO Norwegian Translation
  src/Ryujinx/Assets/locales.json
Labels: gui

#480 Only delay shader translation on Metal
  src/Ryujinx.Graphics.Gpu/Shader/DiskCache/ParallelDiskCacheLoader.cs
Labels: gpu

#481 Include Hack for XC2 JP Edition
  src/Ryujinx.HLE/HOS/Services/Fs/FileSystemProxy/IStorage.cs
Labels: horizon

#497 reworked workflows
  .github/workflows/canary.yml
  .github/workflows/release.yml
  distribution/linux/appimage/build-appimage.sh
Labels: infra

#507 Update game data in the compatibility database
  docs/compatibility.csv
Labels: documentation

#505 cores rework
  src/Ryujinx.HLE/HOS/Horizon.cs
  src/Ryujinx.HLE/HOS/Kernel/KernelContext.cs
  src/Ryujinx.HLE/HOS/Kernel/KernelStatic.cs
  src/Ryujinx.HLE/HOS/Kernel/Process/KProcess.cs
  src/Ryujinx.HLE/HOS/Kernel/Process/KProcessCapabilities.cs
  src/Ryujinx.HLE/HOS/Kernel/SupervisorCall/Syscall.cs
  src/Ryujinx.HLE/HOS/Kernel/Threading/KScheduler.cs
  src/Ryujinx.HLE/HOS/Services/ServerBase.cs
  src/Ryujinx.HLE/Switch.cs
  src/Ryujinx/Headless/HeadlessRyujinx.Init.cs
Labels: gui, horizon, kernel

#515 Update zh_CN Simplified Chinese translation
  src/Ryujinx/Assets/locales.json
Labels: gui

#519 infra: Update to LLVM 17
  .github/workflows/build.yml
  .github/workflows/canary.yml
  .github/workflows/release.yml
  distribution/macos/bundle_fix_up.py
  distribution/macos/construct_universal_dylib.py
  distribution/macos/create_macos_build_ava.sh
  distribution/macos/create_macos_build_headless.sh
Labels: infra

#524 HLE: Stub IHidServer SetGestureOutputRanges
  src/Ryujinx.HLE/HOS/Services/Hid/IHidServer.cs
Labels: horizon

#502 Update Korean translation
  src/Ryujinx/Assets/locales.json
Labels: gui

#489 Update Italian translation
  src/Ryujinx/Assets/locales.json
Labels: gui

#503 Update Norwegian Translation
  src/Ryujinx/Assets/locales.json
Labels: gui

#531 remove notice for unusual core counts
  src/Ryujinx.HLE/HOS/Kernel/Process/KProcessCapabilities.cs
Labels: horizon, kernel

#314 UI: Fix UpdateWaitWindow.axaml windows being too big on windows
  src/Ryujinx/UI/Controls/UpdateWaitWindow.axaml
Labels: gui, windows

#375 Update Chinese translations
  src/Ryujinx/Assets/locales.json
Labels: gui

#513 Updated sv_SE in locales.json
  src/Ryujinx/Assets/locales.json
  src/Ryujinx/UI/Views/Settings/SettingsSystemView.axaml
Labels: gui

#538 Update locales.json
  src/Ryujinx/Assets/locales.json
Labels: gui

#537 Add the player select applet.
  src/Ryujinx.HLE/HOS/Applets/PlayerSelect/PlayerSelectApplet.cs
  src/Ryujinx.HLE/HOS/Services/Account/Acc/GuestUserImage.jpg
  src/Ryujinx.HLE/Ryujinx.HLE.csproj
  src/Ryujinx.HLE/UI/IHostUIHandler.cs
  src/Ryujinx/Headless/Windows/WindowBase.cs
  src/Ryujinx/Ryujinx.csproj
  src/Ryujinx/UI/Applet/AvaHostUIHandler.cs
  src/Ryujinx/UI/Applet/UserSelectorDialog.axaml
  src/Ryujinx/UI/Applet/UserSelectorDialog.axaml.cs
  src/Ryujinx/UI/ViewModels/UserSelectorDialogViewModel.cs
Labels: gui, horizon

#543 Fixed Conflicts in ukranian translation by Rondo
  src/Ryujinx/Assets/locales.json
Labels: gui

#545 Added missing TitleIDs
  docs/compatibility.csv
Labels: documentation

#551 Add/fix service reported info
  src/Ryujinx.HLE/HOS/Services/Settings/ISystemSettingsServer.cs
  src/Ryujinx.HLE/HOS/Services/Spl/IGeneralInterface.cs
Labels: horizon

#552 Log .NET runtime version
  src/Ryujinx/Program.cs
Labels: gui

#462 UI: Option to automatically Hide UI when game launches
  src/Ryujinx/AppHost.cs
  src/Ryujinx/Assets/locales.json
  src/Ryujinx/UI/ViewModels/MainWindowViewModel.cs
  src/Ryujinx/UI/Views/Main/MainMenuBarView.axaml
  src/Ryujinx/Utilities/Configuration/ConfigurationFileFormat.cs
  src/Ryujinx/Utilities/Configuration/ConfigurationState.Migration.cs
  src/Ryujinx/Utilities/Configuration/ConfigurationState.Model.cs
  src/Ryujinx/Utilities/Configuration/ConfigurationState.cs
Labels: gui

#572 Add option to change controller LED color
  src/Ryujinx.Common/Configuration/Hid/Controller/LedConfigController.cs
  src/Ryujinx.Common/Utilities/Rainbow.cs
  src/Ryujinx.Input.SDL2/SDL2Gamepad.cs
  src/Ryujinx.Input.SDL2/SDL2GamepadDriver.cs
  src/Ryujinx.Input.SDL2/SDL2Keyboard.cs
  src/Ryujinx.Input.SDL2/SDL2Mouse.cs
  src/Ryujinx.Input.SDL2/SDL2MouseDriver.cs
  src/Ryujinx.Input.SDL2/SDLKeyboardDriver.cs
  src/Ryujinx.Input/IGamepad.cs
  src/Ryujinx.Input/IGamepadDriver.cs
  src/Ryujinx.SDL2.Common/SDL2Driver.cs
  src/Ryujinx/AppHost.cs
  src/Ryujinx/Assets/locales.json
  src/Ryujinx/Input/AvaloniaKeyboard.cs
  src/Ryujinx/Input/AvaloniaKeyboardDriver.cs
  src/Ryujinx/Input/AvaloniaMouse.cs
  src/Ryujinx/Input/AvaloniaMouseDriver.cs
  src/Ryujinx/UI/Models/Input/GamepadInputConfig.cs
  src/Ryujinx/UI/ViewModels/Input/ControllerInputViewModel.cs
  src/Ryujinx/UI/ViewModels/Input/InputViewModel.cs
  src/Ryujinx/UI/Views/Input/ControllerInputView.axaml
  src/Ryujinx/UI/Views/Input/ControllerInputView.axaml.cs
  src/Ryujinx/UI/Windows/SettingsWindow.axaml.cs
  src/Ryujinx/Utilities/Configuration/ConfigurationState.Migration.cs
Labels: gui

#583 Fix LED turning on in input settings, despite TurnOffLed being set to true
  src/Ryujinx/UI/Views/Input/ControllerInputView.axaml.cs
Labels: gui

#568 Improved Simplified Chinese translation
  src/Ryujinx/Assets/locales.json
Labels: gui

#578 Updated Zh_CN Simplified Chinese
  src/Ryujinx/Assets/locales.json
Labels: gui

#589 Increase NAT discovery timeout to 5000ms
  src/Ryujinx.HLE/HOS/Services/Ldn/UserServiceCreator/LdnRyu/Proxy/P2pProxyServer.cs
Labels: horizon, ldn

#370 PPTC Profiles
  src/ARMeilleure/Translation/PTC/Ptc.cs
  src/ARMeilleure/Translation/PTC/PtcProfiler.cs
  src/ARMeilleure/Translation/Translator.cs
  src/Ryujinx.HLE/HOS/ArmProcessContextFactory.cs
  src/Ryujinx.HLE/HOS/ModLoader.cs
  src/Ryujinx.HLE/Loaders/Processes/Extensions/FileSystemExtensions.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoader.cs
  src/Ryujinx.HLE/Loaders/Processes/ProcessLoaderHelper.cs
  src/Ryujinx/Assets/locales.json
  src/Ryujinx/UI/Controls/ApplicationContextMenu.axaml
  src/Ryujinx/UI/Controls/ApplicationContextMenu.axaml.cs
Labels: cpu, horizon

#590 Updated Zh_CN Simplified Chinese
  src/Ryujinx/Assets/locales.json
Labels: gui

#599 Added --backend-threading parameter for launching games via shortcut
  src/Ryujinx/Program.cs
  src/Ryujinx/Utilities/CommandLineState.cs
Labels: gui

#601 UI: Pretty Atmosphère mod names
  src/Ryujinx/UI/Models/ModModel.cs
  src/Ryujinx/UI/Windows/ModManagerWindow.axaml
  src/Ryujinx/Utilities/AppLibrary/ApplicationLibrary.cs
Labels: gui
